*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info
.DS_store*

# CDK asset staging directory
.cdk.staging
cdk.out

.terraform*
*tfstate*
*.zip
*.tar

vpn*
backstage*
repo*
terraform/gitlab-ci.tf
terraform/helm.tf

.git
.terraform
.terraform.lock.hcl
*.DS_Store*


charts*
